@font-face {font-family: "Druk Wide Web Bold";
    src: url("./fonts/druk-wide-web-bold/29800a9e7d146302b8ed9ad2f848db63.eot"); /* IE9*/
    src: url("./fonts/druk-wide-web-bold/29800a9e7d146302b8ed9ad2f848db63.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/druk-wide-web-bold/29800a9e7d146302b8ed9ad2f848db63.woff2") format("woff2"), /* chrome、firefox */
    url("./fonts/druk-wide-web-bold/29800a9e7d146302b8ed9ad2f848db63.woff") format("woff"), /* chrome、firefox */
    url("./fonts/druk-wide-web-bold/29800a9e7d146302b8ed9ad2f848db63.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./fonts/druk-wide-web-bold/29800a9e7d146302b8ed9ad2f848db63.svg#Druk Wide Web Bold Regular") format("svg"); /* iOS 4.1- */
  }
  @font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ThinItalic.woff2') format('woff2'),
        url('Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Black.woff2') format('woff2'),
        url('Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BlackItalic.woff2') format('woff2'),
        url('Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Regular.woff2') format('woff2'),
        url('Overpass-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Italic.woff2') format('woff2'),
        url('Overpass-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BoldItalic.woff2') format('woff2'),
        url('Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLight.woff2') format('woff2'),
        url('Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.woff2') format('woff2'),
        url('Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Italic.woff2') format('woff2'),
        url('Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.woff2') format('woff2'),
        url('Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-LightItalic.woff2') format('woff2'),
        url('Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.woff2') format('woff2'),
        url('Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-MediumItalic.woff2') format('woff2'),
        url('Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.woff2') format('woff2'),
        url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Thin.woff2') format('woff2'),
        url('Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ThinItalic.woff2') format('woff2'),
        url('Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.woff2') format('woff2'),
        url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'),
        url('Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



body {
    background: #010003;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    background-image: url('../images/body-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}
main {
    overflow-x: hidden;
}
img {
    width: 100%;
}
div {
    box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;

}
h1, h2,h3,h4,h5,h5 {
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    display: block;
}
a.btn--solid {
    background: #1D0AE0;
    padding: 20px 60px;
    border-radius: 50px;
    box-sizing: border-box;
}
a.btn--outlined {
    background: transparent;
    border: solid 1px #fff;
    padding: 20px 60px;
    box-sizing: border-box;
    border-radius: 50px;
}
.separator {
    border: 2px solid #FFFFFF;
    width: 98px;
    margin-top: 15px;
}
.header {
    position: relative;
    width: 100%;
    /* background-image: url('../images/header-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain; */
}
.header__wrapper {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logo img{
    max-width: 58px;
}
.header__logo span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0.107433px;
}
.header__menu {
    display: flex;
}
.header__menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header__menu ul li {
    margin: 0 20px;
}
.header__menu ul li:last-of-type {
    margin-right: 0;
}
.header__menu a {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.11px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.header__image-1 {
    width: auto;
    height: 928px;
    position: absolute;
    top: 100px;
    left: -80px;
    z-index: 1;
}
.header__image-2 {
    width: auto;
    /* height: 811px; */
    position: absolute;
    top: 127px;
    right: -80px;
    z-index: 1;
}
.header__image-3 {
    width: 279px;
    height: 280px;
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.header__top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.header__title {
    margin-top: 55px;
    z-index: 2;
}
.header__title h1 {
    font-family: 'Overpass';
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    margin-bottom: 23px;
}
.header__video {
    width: 555px;
    height: 294px;
    border: solid 1px #fff;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header__video img {
    max-width: 72px;
}
.header__video a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header__links {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}
.header__links a {
    margin: 0 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.header__bottom-content {
    max-width: 945px;
    margin: 0 auto;
    margin-top: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__bottom-content > span {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
}
.header__bottom-content > p {
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 26px;
    line-height: 32.92px;
    text-align: center;
    margin-top: 51px;
}
.header__icon-list {
    margin-top: 62px;
}
.header__icon-list > div:first-of-type {
    margin-bottom: 100px;
}
.icon-list__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-list__item {
    max-width: 190px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-list__item > img {
    width: auto;
    margin-bottom: 20px;
    transform: scale(0.8);
}
.icon-list__item > span {
    font-family: 'Roboto';
    font-size: 18.02px;
    font-weight: 500;
    line-height: 21.11px;
}
.photo-content {
    margin-top: 130px;
}
.photo-content__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}
.photo-content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 76px;
}
.photo-content__item--reverse {
    flex-direction: row-reverse;
}
.photo-content__content {
    max-width: 578px;
}
.photo-content__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 23px;
}
.photo-content__content p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
}
.photo-content__content a {
    max-width: 240px;
    font-size: 14px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #1700F3;
    color: #A4ADFF;
}
.faq {
    margin-top: 63px;
}
.faq__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.faq__top-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    text-transform: uppercase;
}
.faq__bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 115px;
}
.faq__image {
    /* max-width: 670px; */
    position: relative;
}
.faq__image .circle-img {
    position: absolute;
    top: 108px;
    right: 25px;
    width: 54px;
}
.faq__image .x-img {
    position: absolute;
    bottom: 25px;
    right: 290px;
    width: 77px;
}
.faq__list {
    max-width: 555px;
}
.faq__list ul {
    list-style: none;
    padding-left: 50px;
    box-sizing: border-box;
}
.faq__list ul li {
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 36px;
}
.faq__list ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #1B0BD8;
    border-radius: 10px;
    position: absolute;
    left: -24px;
    top: 5px;

}
.faq__button {
    width: 100%;
    max-width: 415px;
    margin: 0 auto;
    margin-top: 110px;
}
.faq__button a {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    line-height: 20px;
    padding: 42px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction {
    margin-top: 96px;
}
.introduction__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.introduction__top-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.introduction__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    text-transform: uppercase;
}
.introduction__bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.introduction__image {
    max-width: 620px;
}
.introduction__list {
    max-width: 585px;
}
.introduction__list ul {
    list-style: none;
    padding-left: 50px;
    box-sizing: border-box;
}
.introduction__list ul li {
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 36px;
}
.introduction__list ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #1B0BD8;
    border-radius: 10px;
    position: absolute;
    left: -24px;
    top: 5px;

}
.investors {
    margin-bottom: 182px;
    margin-top: 175px;
}
.investors__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.investors__title h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.investors__text {
    margin-top: 137px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 275;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
}

.supporters {
    margin-bottom: 182px;
}
.supporters__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.supporters__circle {
   position: absolute;
   top: 60%;
   right: -20px;
   width: 54px;
   transform: translateY(-50%); 
}
.supporters__title h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.supporters__text {
    margin-top: 137px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 275;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
}

.partners {
    margin-bottom: 91px;
}
.partners__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partners__title h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.partners__text {
    margin-top: 137px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 275;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
}
.team {
    margin-top: 182px;
}
.team__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team__title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 45px;
}
.team__list {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team__item {
    position: relative;
    border-radius: 30px;
    max-width: 396px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px 20px;
    box-sizing: border-box;
}
.team__item::before {
    border-radius: 30px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 2px;
    background:linear-gradient(200deg,#1D0AE1,#F7061C); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events:none
}
.team__image {
    max-width: 213px;
    margin-bottom: 53px;
}
.team__name > span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 16px;
    display: block;
}
.team__description > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.253235px;
}
.team__text {
    position: relative;
    border-radius: 30px;
    width: 100%;
    padding: 35px 57px;
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    margin-bottom: 45px;
}
.team__text::before {
    border-radius: 30px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 2px;
    background:linear-gradient(182deg,#1D0AE1,#F7061C); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events:none
}
.team__text h3 {
    /* font-family: 'Druk Wide Web Bold';
    font-size: 20px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    min-width: 308px;
    display: inline-block;
}
.team__text p {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.253235px;
    padding-left: 58px;
}
.team__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.team__socials a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team__socials a:first-of-type {
    margin-right: 20px;
}
.team__cta {
    max-width: 521px;
}
.team__cta a {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 46px 70px;
}
.team__cta a > span {
    display: block;
}
.team__cta a > span:first-of-type {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.107433px;
    margin-bottom: 26px;

}
.roadmap {
    margin-top: 69px;
}
.roadmap__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roadmap__title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 45px;
}
.roadmap__list {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.roadmap__item {
    position: relative;
    border-radius: 30px;
    max-width: 396px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 35px 45px;
    box-sizing: border-box;
}
.roadmap__item::before {
    border-radius: 30px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 2px;
    background:linear-gradient(200deg,#1D0AE1,#F7061C); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events:none
}
.roadmap__year {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0.253235px;
    color: #D463EC;

}
.roadmap__month {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.roadmap__description ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.roadmap__description ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.253235px;
    margin-bottom: 22px;
}
.roadmap__text {
    position: relative;
    border-radius: 30px;
    width: 100%;
    padding: 35px 57px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 45px;
}
.roadmap__text::before {
    border-radius: 30px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 2px;
    background:linear-gradient(182deg,#1D0AE1,#F7061C); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events:none
}
.roadmap__text h3{
    /* font-family: 'Druk Wide Web Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 22px;
}
.roadmap__text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.253235px;
}

.faq2 {
    margin-top: 118px;
    margin-bottom: 170px;
}
.faq2__wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq2__title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 35px;
    margin-bottom: 45px;
}
.faq2__accordion {
    width: 876px;
    margin-top: 61px;
}
.accordion_title {
    cursor: pointer;
    position: relative;
}
.accordion_title::before {
    content: '';
    width: 23px;
    height: 18px;
    background-image: url('../images/dropdown.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion_title h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    padding: 20px 0;
}
.accordion__item.active .accordion__content {
    height: 100%;
    visibility: visible;
    /* opacity: 1; */
    transition: height 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}
.accordion__content {
    /* height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease-in-out 0s, height 0.4s ease-in-out 0s,  ; */
    display: none;
}
.accordion__content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    padding-left: 30px;
    margin-bottom: 30px;
}
.footer {
    width: 100%;
    background-image: url('../images/header-bg.png');
    background-position: center center;
    background-size: cover;
    position: relative;
    background-color: rgba(6, 5, 7, 0.5);
    /* mix-blend-mode: darken; */
    background-blend-mode: darken;
    background-repeat: no-repeat;
    padding: 122px 0 56px 0;
    box-sizing: border-box;
}
.footer__wrapper {
    max-width: 1300px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer__image {
    position: absolute;
    top: 32%;
    right: -146px;
    max-width: 680px;
    transform: translateY(-50%);
}
.footer__container {
    position: relative;
    border-radius: 30px;
    width: 100%;
    padding: 92px 62px 80px 62px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    background: rgba(0, 0, 0, 0.4);
    mix-blend-mode: normal;
    backdrop-filter: blur(6px);
}
.footer__container::before {
    border-radius: 30px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 2px;
    background:linear-gradient(182deg,#1D0AE1,#F7061C); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events:none
}
.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__socials ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.footer__socials ul li {
    margin: 0 27.5px;
}
.footer__socials ul li:first-of-type {
    margin-left: 0;
}
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo img {
    max-width: 58px;
}
.footer__logo  span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0.107433px;
}
.footer__title h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 10px;
}
.footer__sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 45px;
}
.footer__copyright span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
}
.popup {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 59;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.popup__wrapper {
    background: #FFFFFF;
    border-radius: 20px;
    max-width: 1255px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 70px 50px;
}
.popup__logo img {
    max-width: 369px;
}
.popup__socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__socials ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.popup__socials ul li {
    margin: 0 15.5px;
}
.popup__socials ul li:first-of-type {
    margin-left: 0;
}
.popup__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popup__title span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #000000;
}
.popup__title span:last-of-type {
    margin-bottom: 31px;
}
.popup__title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #474747;
    margin-bottom: 31px;
}
.coming-soon {
    cursor: pointer;
}